/* FONT IMPORT */
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

/* COLOR VARIABLES */
:root {
  --site-color-01: #009900;
  --site-color-02: #00cc00;
  --site-color-03: #00ff00;
  --site-color-04: #1e1e1e;
  --site-color-05: #2e2e2e;
  --site-color-06: #ffffff;
}

/* BACKGROUND STYLE */
body {
  background-color: var(--site-color-05);
}

/* MAIN WRAPPER */
.wrapper-main {
  width: 1200px;
  margin: 0 auto;
}

/* LINK STYLES */
a {
  cursor: pointer;
  color: var(--site-color-06);
}

/* FONT STYLES */
h1 {
  font-size: 4.8rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: var(--site-color-06);
}

h2 {
  font-size: 3.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--site-color-06);
}

h3 {
  font-size: 2.4rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.15;
  color: var(--site-color-06);
}

h4 {
  font-size: 2.0rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.15;
  color: var(--site-color-06);
}

h5 {
  font-size: 2.0rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.15;
  color: var(--site-color-06);
}

p {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--site-color-06);
}

li {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--site-color-06);
}

/* BOOK A CALL CTA BUTTON */
.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 36px;
  background-color: var(--site-color-01);
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--site-color-06);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: var(--site-color-02);
}

.cta-btn:active {
  background-color: var(--site-color-03);
}

/* HEADER MAIN */
.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--site-color-04);
  border-bottom: 1px solid #404040;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.brand-name-full {
  font-size: 2.4rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--site-color-06);
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.brand-name-short {
  display: none;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--site-color-06);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.header-main-nav ul {
  list-style: none;
  float: left;
}

.header-main-nav ul li {
  display: inline;
}

.header-main-nav ul li a{
  padding: 10px;
}

.header-main-nav ul li a:hover {
  font-weight: 600;
  background-color: var(--site-color-01);
  border-radius: 4px;
}

.header-main-nav ul li a:active {
  font-weight: 600;
  background-color: var(--site-color-02);
  border-radius: 4px;
}

/* 
Social Media Icons 
.header-main-sm {
  width: fit-content;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-ig {
  width: 24px;
  height: 24px;
  background-image: url(../img/instagram.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-fb {
  width: 24px;
  height: 24px;
  background-image: url(../img/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.cta-btn-header {
  margin-left: auto;
  margin-right: 12px;
}

/* FOOTER MAIN */
.footer-main {
  width: 100%;
  padding: 60px 0 60px;
  background-color: var(--site-color-04);
}

.footer-main-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-main-testimonials-h2 {
  display: none;
}

.footer-testimony {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer-testimony img {
  width: 100px;
  height: 100px;
  border: 3px solid var(--site-color-01);
  border-radius: 50%;
  object-fit: cover;
}

.footer-testimony p {
  text-align: center;
  padding: 20px;
}

.cta-btn-footer-main {
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer-sitemap {
  flex-basis: 100%;
  display: flex;
}

.footer-sitemap-nav {
  border-left: 2px solid var(--site-color-01);
  padding-left: 4px;
}

.footer-sitemap li a:hover{
  opacity: 0.75;
}

.footer-sitemap ul:nth-child(1) {
  flex-basis: 180px;
}

.footer-sitemap ul:nth-child(2) {
  flex-basis: 540px;
}

.footer-sitemap p {
  text-transform: uppercase;
}

.footer-sitemap ul:nth-child(3) {
  flex-grow: 1;
}

.footer-sitemap ul:nth-child(3) li {
  clear: both;
  float: right;
}

/* BURGER MENU BUTTON */
.burger-menu, 
.burger-menu-btn {
  display: none;
}

/* <600px, 601px, 768px, 992px, 1200px */

/* MOBILE PHONES (PORTRAIT) */
@media only screen and (max-width: 600px) {
  /*
  *, *::before, *::after {
    box-sizing: border-box;
  }
  */

  /* BURGER MENU BUTTON */
  .burger-menu-btn {
    display: block;
    position: absolute;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    background-image: url(../img/Icons/burger-menu.png), url(../img/Icons/burger-menu-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #1e1e1e;
  }

  .burger-menu ul {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }

  .burger-menu ul li:last-child {
    border-bottom: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px;
    flex-basis: 100%;
    text-align: center;
  }

  .burger-menu ul li a:hover,
  .burger-menu ul li a:active {
    background-color: #009900;
  }

  /* FONT SIZES */
  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  p {
    font-size: 1.6rem;
  }

  li {
    font-size: 1.6rem;
  }
  
  /* WRAPPER MAIN */
  .wrapper-main {
    width: 80%;
  }

  /* HEADER MAIN */
  .header-main {
    position: fixed;
    top: 0;
  }

  .brand-name-full {
    display: none;
  }

  .brand-name-short {
    font-size: 2.4rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 42px;
  }

  .header-main-nav {
    display: none;
  }

  /* FOOTER MAIN */
  .footer-main {
    padding: 24px 0 60px;
  }

  .footer-main-testimonials-h2 {
    display: inline;
    text-align: center;
  }

  .footer-testimony {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 48px;
  }

  .footer-testimony p {
    padding: 0;
    padding-top: 12px;
  }

  .cta-btn-footer-main {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap-nav {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 24px;
  }

  .footer-sitemap ul:nth-child(1) {
    display: none;
  }

  .footer-sitemap p {
    text-transform: none;
  }

  .footer-sitemap ul:nth-child(3) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(3) li {
    float: none;
    text-align: center;
  }

}


/* MOBILE PHONES (LANDSCAPE) */
@media only screen and (max-height: 500px) and (orientation: landscape) {

  /* BURGER MENU BUTTON */
  .burger-menu-btn {
    display: block;
    position: absolute;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    background-image: url(../img/Icons/burger-menu.png), url(../img/Icons/burger-menu-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #1e1e1e;
  }

  .burger-menu ul {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }

  .burger-menu ul li:last-child {
    border-bottom: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px;
    flex-basis: 100%;
    text-align: center;
  }

  .burger-menu ul li a:hover,
  .burger-menu ul li a:active {
    background-color: var(--site-color-01);
  }

  /* FONT SIZES */
  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  p {
    font-size: 1.6rem;
  }

  li {
    font-size: 1.6rem;
  }
  
  /* WRAPPER MAIN */
  .wrapper-main {
    width: 80%;
  }

  /* HEADER MAIN */
  .header-main {
    position: fixed;
    top: 0;
  }

  .brand-name-full {
    margin-left: 42px;
  }

  .brand-name-short {
    display: none;
  }

  .header-main-nav {
    display: none;
  }

  /* FOOTER MAIN */
  .footer-main {
    padding: 30px 0 60px;
  }

  .footer-main-testimonials-h2 {
    display: inline;
    text-align: center;
  }

  .footer-testimony {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 48px;
  }

  .footer-testimony p {
    padding: 0;
    padding-top: 12px;
  }

  .cta-btn-footer-main {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap-nav {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 24px;
  }

  .footer-sitemap ul:nth-child(1) {
    display: none;
  }

  .footer-sitemap p {
    text-transform: none;
  }

  .footer-sitemap ul:nth-child(3) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(3) li {
    float: none;
    text-align: center;
  }

}



/* LARGER PHONES OR SMALL TABLETS (PORTRAIT) */
@media only screen and (min-width: 601px) and (max-width: 768px) and (orientation: portrait){
  
  /* BURGER MENU BUTTON */
  .burger-menu-btn {
    display: block;
    position: absolute;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    background-image: url(../img/Icons/burger-menu.png), url(../img/Icons/burger-menu-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #1e1e1e;
  }

  .burger-menu ul {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }

  .burger-menu ul li:last-child {
    border-bottom: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px;
    flex-basis: 100%;
    text-align: center;
  }

  .burger-menu ul li a:hover,
  .burger-menu ul li a:active {
    background-color: #009900;
  }

  /* FONT SIZES */
  h1 {
    font-size: 3.6rem;
  }
  
  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  p {
    font-size: 1.6rem;
  }

  li {
    font-size: 1.6rem;
  }

  /* WRAPPER MAIN*/
  .wrapper-main {
    width: 80%;
  }

  /* HEADER MAIN */
  .header-main {
    position: fixed;
    top: 0;
  }
  
  .brand-name-full {
    margin-left: 42px;
  }

  .header-main-nav {
    display: none;
  }

  /* FOOTER MAIN */
  .footer-main {
    padding: 24px 0 60px;
  }

  .footer-main-testimonials-h2 {
    display: inline;
    text-align: center;
  }

  .footer-testimony {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 48px;
  }

  .footer-testimony p {
    padding: 0;
    padding-top: 12px;
  }

  .cta-btn-footer-main {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap-nav {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 24px;
  }

  .footer-sitemap ul:nth-child(1) {
    display: none;
  }

  .footer-sitemap p {
    text-transform: none;
  }

  .footer-sitemap ul:nth-child(3) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(3) li {
    float: none;
    text-align: center;
  }

}



/* TABLETS (LANDSCAPE) OR SMALL LAPTOPS */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  
  /* BURGER MENU BUTTON */
  .burger-menu-btn {
    display: block;
    position: absolute;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    background-image: url(../img/Icons/burger-menu.png), url(../img/Icons/burger-menu-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #1e1e1e;
  }

  .burger-menu ul {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }

  .burger-menu ul li:last-child {
    border-bottom: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px;
    flex-basis: 100%;
    text-align: center;
  }

  .burger-menu ul li a:hover,
  .burger-menu ul li a:active {
    background-color: #009900;
  }

  /* FONT SIZES */
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  h5 {
    font-size: 2.0rem;
  }

  p {
    font-size: 1.6rem;
  }

  li {
    font-size: 1.6rem;
  }

  /* WRAPPER MAIN*/
  .wrapper-main {
    width: 80%;
  }

  /* HEADER MAIN */
  .header-main {
    position: fixed;
    top: 0;
  }
  
  .brand-name-full {
    margin-left: 42px;
  }

  .header-main-nav {
    display: none;
  }

  /* FOOTER MAIN */
  .footer-main {
    padding: 24px 0 60px;
  }

  .footer-main-testimonials-h2 {
    display: inline;
    text-align: center;
  }

  .footer-testimony {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 48px;
  }

  .footer-testimony p {
    padding: 0;
    padding-top: 12px;
  }

  .cta-btn-footer-main {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap-nav {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 24px;
  }

  .footer-sitemap ul:nth-child(1) {
    display: none;
  }

  .footer-sitemap p {
    text-transform: none;
  }

  .footer-sitemap ul:nth-child(3) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(3) li {
    float: none;
    text-align: center;
  }

}



/* STANDARD LAPTOPS AND DESKTOPS */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  
  /* WRAPPER MAIN*/
  .wrapper-main {
    width: 80%;
  }

  /*FOOTER MAIN*/
  .footer-sitemap ul:nth-child(2) {
    flex-basis: 55%;
  }

}